.h1 {
  color: black;
  text-align: left;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  width: 380px;
}
.box2 h1 {
  font-size: 48px;
  color: black;
  text-align: left;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
}